#boton1 {
    position: relative;
    background-color: rgb(43, 137, 192);
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    /* padding: 20px; */
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#boton1:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#boton1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#boton2 {
    position: relative;
    background-color: rgb(43, 137, 192);
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    /* padding: 20px; */
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#boton2:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#boton2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#boton3 {
    position: relative;
    background-color: rgb(43, 137, 192);
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    /* padding: 20px; */
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#boton3:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#boton3:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
#boton4 {
    position: relative;
    background-color: rgb(43, 137, 192);
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    /* padding: 20px; */
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#boton4:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#boton4:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#boton5 {
    position: relative;
    background-color: rgb(43, 137, 192);
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    /* padding: 20px; */
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#boton5:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

#boton5:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}