@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.contenedor {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 60px;
  margin: 0 auto;
  top: 20px;
}
.div-imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div-imagen.oculto {
  overflow: hidden;
}
.div-imagen .imagenes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-imagen .texto {
  font-family: 'Open Sans';
  position: absolute;
  z-index: -1;
  display: block;
  height: 50%;
  top: 50%;
  left: 0;
  padding-left: 5px;
  opacity: 0;
  transition: all 1.5s;
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -ms-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
}
.div-imagen .overlayaaa {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /*dim the background*/
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}
.div-imagen:hover .imagenes {
  transform: translate(90px, 0px);
  -ms-transform: translate(90px, 0px);
  -moz-transform: translate(90px, 0px);
  -webkit-transform: translate(90px, 0px);
  -o-transform: translate(90px, 0px);
}
.div-imagen:hover .overlayaaa {
  opacity: 1;
}
.div-imagen:hover .texto {
  opacity: 1;
}
