body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background-color: rgb(252, 252, 252);
  }
  #iniciar_sesion {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    /* padding: 20px; */
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #iniciar_sesion span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #iniciar_sesion span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #iniciar_sesion:hover span {
    padding-right: 25px;
  }
  
  #iniciar_sesion:hover span:after {
    opacity: 1;
    right: 0;
  }  

  #registrar {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4cd1e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    /* padding: 20px; */
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #registrar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #registrar span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #registrar:hover span {
    padding-right: 25px;
  }
  
  #registrar:hover span:after {
    opacity: 1;
    right: 0;
  }
  .color{
    background-color: rgb(255, 255, 255);
  }    
    
  .carousel {
    margin-bottom: 4rem;
  }  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
    
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }      
    
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }    
  
  .featurette-divider {
    margin: 5rem 0; 
  }
    
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }  
  
  @media (min-width: 40em) {    
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
.contenedor {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 60px;
  margin: 0 auto;
  top: 20px;
}
.div-imagen {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div-imagen.oculto {
  overflow: hidden;
}
.div-imagen .imagenes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-imagen .texto {
  font-family: 'Open Sans';
  position: absolute;
  z-index: -1;
  display: block;
  height: 50%;
  top: 50%;
  left: 0;
  padding-left: 5px;
  opacity: 0;
  transition: all 1.5s;
  -webkit-transition: all 1.5s ease-in;
  -moz-transition: all 1.5s ease-in;
  -ms-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
}
.div-imagen .overlayaaa {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /*dim the background*/
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}
.div-imagen:hover .imagenes {
  transform: translate(90px, 0px);
  -ms-transform: translate(90px, 0px);
  -moz-transform: translate(90px, 0px);
  -webkit-transform: translate(90px, 0px);
  -o-transform: translate(90px, 0px);
}
.div-imagen:hover .overlayaaa {
  opacity: 1;
}
.div-imagen:hover .texto {
  opacity: 1;
}
