<div class="container">
    <div class="alert alert-success">
        <h4>
            Dieta para Gastriticos.
        </h4>
        <p class="text-body" style="font-size: larger;">
            La gastritis es la inflamación del revestimiento del estómago y puede ser aguda, cuando se presenta durante un corto periodo
            de tiempo, o crónica, si se prolonga durante meses o años. Esta inflamación del estomago causa, en las personas
            que lo padecen, dolor en la parte superior del vientre o del estómago, nauseas y, en ocasiones, vómitos. Todo
            esto se traduce en una falta de apetencia y de ganas de comer porque ante cada comida nos preguntamos cómo me
            voy a encontrar luego. Para ayudarte a mejorar esta situación el equipo de dietistas-nutricionistas de Alimmenta
            quiere darte algunas pautas que te harán sentirte mejor.
        </p>
        <h4>
            Cuáles son las causas de la gastritis
        </h4>
        <p class="text-body" style="font-size: larger;">
            Una de las causas más habituales de la gastritis es la infección por una bacteria llamada Helicobacter pylori que se trasmite
            de persona a persona. En países desarrollados esta bacteria podría estar infectando al 50% de la población, aunque
            solo el 15% de ellos desarrollan la enfermedad, lo que hace ver que está muy influenciada por factores genéticos
            o ambientales (la comida, el hábito de fumar, etc.). De todos modos, ésta no es la única causa de gastritis sino
            que hay otras como: Tomar de manera continuada determinados medicamentos como los antiinfamatorios no esteroideos
            (AINEs) como la aspirina o el ibuprofeno. Consumir demasiado alcohol. Trastornos autoinmunes como la anemia perniciosa.
            El estrés o la ansiedad elevada, ya que aumenta los ácidos gástricos y provoca lo que se denomina gastritis nerviosa.
            El abuso de comidas copiosas, muy pesadas o picantes. Las infecciones alimentarias. El tabaco. Otras infecciones
            virales (citomegalovirus o herpes simple).Se debe tener en cuenta que en muchos casos las causas o las situaciones
            que provocan la gastritis se dan de manera conjunta y se potencian unas a otras. Por eso, si hemos padecido anteriormente
            gastritis o la sufrimos actualmente hemos de evitar al máximo estos factores para prevenir una posible recaída
            o evitar que se mantenga esta situación lo que puede llevar a crear hemorragias o un aumento de la posibilidad
            de padecer cáncer gástrico.
        </p>
        <h4>
            Recomendaciones generales para la gastritis
        </h4>
        <p class="text-body" style="font-size: larger;">
            Si eres una de las personas que padece gastritis, debes conocer ciertas pautas a seguir en tu vida diaria y ciertas recomendaciones
            alimentarias encaminadas a facilitar las digestiones y a evitar los alimentos irritantes o excitantes que favorecerán
            que tengas malas digestiones y molestias. Nuestras recomendaciones para ayudarte a sentirte mejor son: Intenta
            comer de manera fraccionada unas 4-5 veces al día. No hagas comidas copiosas ya que esto hará que tengas digestiones
            lentas y pesadas haciendo que tu estómago deba trabajar más. Tómate tu tiempo para comer. Come lento y mastica
            bien todos los alimentos. No te vayas a dormir justo después de cenar. Intenta cenar 2-3 horas antes de acostarte
            y, si tomas algo posteriormente, que no sean alimentos sólidos. Si fumas, deja de hacerlo. Si no te ves capaz
            busca asesoramiento, tu situación mejorará considerablemente. Si eres una persona nerviosa o sufres estrés, fomenta
            actitudes y terapias relajantes (yoga, meditación, plantas relajantes). Excluye de la dieta o disminuye el consumo
            de los alimentos y las preparaciones ricas en grasa. Escoge las preparaciones suaves (hervido, horno, papillote,
            etc) ante el resto de preparaciones culinarias que aumentan el contenido de grasa. ¡Vigila con los alimentos
            tostados o a la plancha! ya que las partes quemadas son irritantes y muy posiblemente te generarán malestar.
            Evita los alimentos ricos en sal o en azúcar, los muy condimentados o especiados y los alimentos preparados en
            escabeche. No tomes las comidas a temperaturas extremas, muy frías o muy calientes, ya que esto potenciará la
            irritación. Evita las bebidas estimulantes de la secreción gástrica o que empeoran la digestión como el café,
            el té, el alcohol, las bebidas de cola o las bebidas con gas. No olvides incluir en tu dieta el consumo de frutas
            y verduras que te aportarán antioxidantes, vitaminas del grupo B y fibra. Si además de gastritis sufres reflujo
            gastroesofágico o hernia de hiato puedes consultar las recomendaciones siguiendo el enlace.
        </p>
    </div>
</div>