<div class="container">
    <div class="alert alert-success">
        <h4>
            Dieta para futbolistas.
        </h4>
        <p class="text-body" style="font-size: larger;">
            El fútbol o balompié, también conocido como fútbol de asociación, es el deporte de equipo que más se juega en todo el mundo.
            Un partido consta de 2 tiempos de 45 minutos cada uno. Juegan 11 jugadores por equipo con la posibilidad de realizar
            3 cambios con los jugadores que se encuentran en el banquillo (normalmente 7). No es un deporte basado en el
            contacto físico. La mayoría de deportes de equipo pueden considerarse ejercicios prolongados o incluso deportes
            de resistencia. En el siguiente vídeo y artículo te cuento cómo una adecuada alimentación puede mejorar tu rendimiento
            deportivo.
        </p>
        <h4>
            Características generales del fútbol
        </h4>
        <p class="text-body" style="font-size: larger;">
            El rendimiento deportivo en el fútbol se determina a través de una combinación de condiciones físicas, habilidades y destrezas.
            Es decir, el jugador tiene que estar en condiciones físicas de correr hacia el balón, pero también debe ejecutar
            destrezas que implican el uso de la función cognitiva para realizar la lectura del juego y tomar decisiones tácticas.
            Una nutrición inadecuada puede afectar el rendimiento deportivo más que en otros deportes prolongados y continuos,
            ya que una alimentación insuficiente también afecta negativamente sobre las destrezas y la función cognitiva
            del jugador. Las características de las distintas posiciones dentro del campo de juego pueden ser muy distintas.
            Por lo tanto, entre los distintos jugadores de fútbol puede haber diferentes contexturas físicas y necesidades
            distintas con respecto a la alimentación. El año se divide en 3 períodos: pretemporada, competencia y temporada
            de descanso.
        </p>
        <h4>
            Alimentación durante la pretemporada
        </h4>
        <p class="text-body" style="font-size: larger;">
            La pre-temporada suele durar de 4 a 16 semanas en función del nivel de competencia. Se pueden llegar a realizar entrenamientos
            2 veces al día. Un futbolista debe mantenerse en niveles bajos de grasa corporal que oscilen entre el 8,6 y el
            11,2% del peso corporal. Hay que prestarle atención a estos valores ya que es frecuente que durante períodos
            de descanso, y también cuando hay lesiones, ésta aumente. Durante la pretemporada la dieta del futbolista debe
            ir enfocada a mejorar la composición corporal del jugador. En la mayoría de casos suele comportar bajar un poco
            de peso. Según la posición del jugador en el campo requerirá mayor fuerza muscular o volumen. Por esta razón
            el entrenamiento de resistencia es una característica del fútbol. El momento para hacerlo es la pretemporada.
            En los jugadores jóvenes tratan de acelerar de esta manera el proceso de maduración y desarrollar su contextura
            física de adulto, y consolidar su estilo y habilidades de juego. Para lograrlo se precisa de 3 componentes: potencial
            genético + entrenamiento de resistencia + soporte nutricional. Aún se desconoce la dieta óptima para aumentar
            el tamaño y la fuerza muscular. Lo que está claro es: Es necesario recibir una cantidad de energía (kcal) adecuada.
            Se deben aportar suficientes proteínas y micronutrientes para conseguir el desarrollo de nuevos tejidos. El objetivo
            del jugador que quieres ganar fuerza y masa muscular deber ser realista y establecer un compromiso a largo plazo,
            y no dejarse convencer por las publicidades engañosas de prácticas de ganancia muscular que pongan en riesgo
            su salud. Este tipo de prácticas se pueden reconocer por que incluyen dietas restrictivas con un elevado contenido
            en proteínas y el uso de complementos varios (entre ellos prohormonas que suelen estar prohibidas en muchos deportes
            de equipo). Al final de la pretemporada suelen jugarse partidos amistosos o torneos breves.
        </p>
    </div>
</div>